body {
  background-image: url(https://uploads-ssl.webflow.com/60a7849b322e7782457843d9/622f20d435f6a0ff1f627071_NFT%20Marketplace.png);
  background-size:fill;
  background-repeat: no-repeat;
}
.App {
  text-align: center;
}

